:root {
  /* AAD8E7  #FFCA39  #4165AA  #A3C4D7*/
  --background-color: #4165AA;
  --navbar-color: #4165AA;
  --letter-color: #FFCA39;
  --hover-color: #e7eff6;
  --first-background-color: #4165AA;
  --second-background-color: #B0D9F5;
  --third-background-color: #AAD8E7;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  width: 100%;
}

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: var(--first-background-color);
  color: var(--letter-color);
}

.projects-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding: 0 2rem;
  background: var(--second-background-color);
  color: #000;
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
  padding: 0 2rem;
  background: var(--third-background-color);
  color: #000;
}

.custom-project {
  border: 1px var(--background-color) solid;
  padding: 10px;
  border-radius: 15px;

}

footer {
  padding: 2rem;
  border-top: 4px solid var(--navbar-color);
  color: var(--letter-color);
}

.navBar-icons {
  color: var(--letter-color);
}

.navBar-icons:hover {
  color: var(--hover-color);
}

.navBar-icons:visited {
  color: var(--letter-color);
}

.navBar-icons:visited:hover {
  color: var(--hover-color);
}